[Unit]
Description=YugabyteDB Master

[Service]
Type=simple
ExecStart=/home/yugabyte/yugabyte/bin/yb-master --flagfile /var/lib/yugabyte/master.conf
Restart=on-failure
RestartSec=5
User=yugabyte

[Install]
WantedBy=cloud-config.target
