[Unit]
Description=YugabyteDB Tablet Server

[Service]
Type=simple
ExecStart=/home/yugabyte/yugabyte/bin/yb-tserver --flagfile /var/lib/yugabyte/tserver.conf
Restart=on-failure
RestartSec=5
User=yugabyte

[Install]
WantedBy=cloud-config.target
