{
    log {
        level info
    }

    auto_https disable_redirects

    storage s3 {
        host "s3.sf.ingtra.net"
        bucket "caddy"
        access_id "caddy"
        secret_key "caddysecret"
        prefix "ssl"
    }
}

(cf_tls) {
    tls {
        issuer zerossl {
            disable_http_challenge
            email {{ secret_acme_email }}
            dns cloudflare {{ secret_cloudflare_token }}
            resolvers 1.1.1.1
        }
    }
}

http://ports.ubuntu.com {
    reverse_proxy {
        header_up Host "mirror.misakamikoto.network"
        to http://mirror.misakamikoto.network
    }
}

http://ftp.kr.debian.org {
    reverse_proxy {
        header_up Host "mirror.misakamikoto.network"
        to http://mirror.misakamikoto.network
    }
}

http://archive.ubuntu.com, http://security.ubuntu.com {
    reverse_proxy {
        header_up Host "mirror.misakamikoto.network"
        to http://mirror.misakamikoto.network
    }
}
