--master_addresses=yugabyte-m-1.mdc.ingtra.net:7100,yugabyte-m-2.mdc.ingtra.net:7100,yugabyte-m-3.mdc.ingtra.net:7100
--placement_cloud=ingtranet
--placement_region=mdc
--placement_zone=default
--fs_wal_dirs=/var/lib/yugabyte
--fs_data_dirs=/var/lib/yugabyte
--replication_factor=1
--enable_stream_compression=true
--stream_compression_algo=3
--enable_automatic_tablet_splitting=true
--server_broadcast_addresses={{ ansible_hostname }}.mdc.ingtra.net
--yb_num_shards_per_tserver=8
--ysql_num_shards_per_tserver=8
--default_memory_limit_to_ram_ratio=0.3
--durable_wal_write=false
