network.host: 0.0.0.0
transport.tcp.compress: true

discovery.seed_hosts:
  - yugabyte-1.mdc.ingtra.net
  - yugabyte-2.mdc.ingtra.net
  - yugabyte-3.mdc.ingtra.net

cluster.initial_master_nodes:
  - yugabyte-1
  - yugabyte-2
  - yugabyte-3

cluster.name: ingtranet
node.name: {{ ansible_hostname }}
node.master: true
node.data: true

path.logs: /var/log/crate
path.data: /data/crate
