CRATE_HOME=/opt/crate
CRATE_PATH_LOG=/var/log/crate
CRATE_GC_LOG_DIR=/var/log/crate
CRATE_HEAP_DUMP_PATH=/var/lib/crate
CRATE_PATH_CONF=/etc/crate
CRATE_CONFIG=/etc/crate/crate.yml

CRATE_INCLUDE=/opt/crate/bin/crate.in.sh

CRATE_HEAP_SIZE=1g
CRATE_JAVA_OPTS=-Xms1g -Xmx1g