{
    log {
        level info
    }

    storage s3 {
        host "s3.seaweedfs.mdc.ingtra.net"
        bucket "caddy"
        access_id "caddy"
        secret_key "caddysecret"
        prefix "ssl"
    }
}

(cf_tls) {
    tls {
        issuer zerossl {
            disable_http_challenge
            email {{ secret_acme_email }}
            dns cloudflare {{ secret_cloudflare_token }}
            resolvers 1.1.1.1
        }
    }
}


gateway.ag.ingtra.net {
    import cf_tls
    reverse_proxy {
        to https://100.100.0.11:8006
        transport http {
            tls_insecure_skip_verify
        }
    }
}

unifi.ag.ingtra.net {
    import cf_tls
    reverse_proxy {
        to https://100.101.0.254
        transport http {
            tls_insecure_skip_verify
        }
    }
}

pve.ag.ingtra.net {
    import cf_tls
    reverse_proxy {
        to https://pve1.mdc.ingtra.net:8006
        to https://pve2.mdc.ingtra.net:8006
        to https://pve3.mdc.ingtra.net:8006
        transport http {
            tls_insecure_skip_verify
        }
        lb_policy first
    }
}

sophos.ag.ingtra.net {
    import cf_tls
    reverse_proxy {
        to https://100.100.0.1:4444
        transport http {
            tls_insecure_skip_verify
        }
    }
}

*.ag.ingtra.net {
    import cf_tls
    respond "Not Found" 404
}