{
    log {
        level info
    }

    storage s3 {
        host "s3.seaweedfs.ingtra.net"
        bucket "caddy"
        access_id "caddy"
        secret_key "caddysecret"
        prefix "ssl"
    }
}

(cf_tls) {
    tls {
        issuer zerossl {
            disable_http_challenge
            email {{ secret_acme_email }}
            dns cloudflare {{ secret_cloudflare_token }}
            resolvers 1.1.1.1
        }
    }
}

unifi.ingtra.net {
    import cf_tls
    reverse_proxy {
        to https://10.0.0.1
        transport http {
            tls_insecure_skip_verify
        }
    }
}

pve.ingtra.net {
    import cf_tls
    reverse_proxy {
        to https://pve-gateway.dv.ingtra.net:8006
        transport http {
            tls_insecure_skip_verify
        }
    }
}

sophos.ingtra.net {
    import cf_tls
    reverse_proxy {
        to https://10.0.1.1:4444
        transport http {
            tls_insecure_skip_verify
        }
    }
}

synology.ingtra.net {
    import cf_tls
    reverse_proxy {
        to http://synology.dv.ingtra.net:5000
    }
}
