{
	#auto_https off
	log {
	    level info
	}
}

(cf_tls) {
    tls {
		issuer zerossl {
		    disable_http_challenge
		    email {$ACME_EMAIL}
			dns cloudflare {$CLOUDFLARE_TOKEN}
			resolvers 1.1.1.1
		}
    }
}

harbor.ingtra.net {
    import cf_tls
	reverse_proxy {
	    to 10.3.65.201:8080
	}
}

master.sf.ingtra.net {
    import cf_tls
    reverse_proxy {
		to 10.3.65.12:9333
	}
}

filer.sf.ingtra.net {
	import cf_tls
	header {
		?Content-Type    application/octet-stream
	}
	reverse_proxy {
		to 10.3.65.12:8888
	}
}

volume.sf.ingtra.net {
	import cf_tls
	reverse_proxy {
		to 10.3.65.12:8080
	}
}

s3.sf.ingtra.net {
	import cf_tls
	header {
		?Content-Type    application/octet-stream
	}
	reverse_proxy {
		to 10.3.65.12:8333
	}
}

webdav.sf.ingtra.net {
	import cf_tls
	reverse_proxy {
		to 10.3.65.12:7333
	}
}

*.s3.sf.ingtra.net {
	import cf_tls
	header {
		?Content-Type    application/octet-stream
	}
	reverse_proxy {
		to 10.3.65.12:8333
	}
}
