{
	#auto_https off
	log {
	    level info
	}

    storage s3 {
        host "10.2.33.12:8333"
        bucket "caddy"
        access_id "caddy"
        secret_key "caddysecret"
        prefix "ssl"
        insecure true
    }
}

(cf_tls) {
    tls {
		issuer zerossl {
		    disable_http_challenge
		    email {$ACME_EMAIL}
			dns cloudflare {$CLOUDFLARE_TOKEN}
			resolvers 1.1.1.1
		}
    }
}

harbor.ingtra.net {
    import cf_tls
	reverse_proxy {
	    to 10.2.33.201:8080
	}
}

master.seaweedfs.ingtra.net {
    import cf_tls
    reverse_proxy {
		to 10.2.33.12:9333
	}
}

filer.seaweedfs.ingtra.net {
	import cf_tls
	header {
		?Content-Type    application/octet-stream
	}
	reverse_proxy {
		to 10.2.33.12:8888
	}
}

volume.seaweedfs.ingtra.net {
	import cf_tls
	reverse_proxy {
		to 10.2.33.12:8080
	}
}

s3.seaweedfs.ingtra.net {
	import cf_tls
	header {
		?Content-Type    application/octet-stream
	}
	reverse_proxy {
		to 10.2.33.12:8333
	}
}

webdav.seaweedfs.ingtra.net {
	import cf_tls
	reverse_proxy {
		to 10.2.33.12:7333
	}
}

*.s3.seaweedfs.ingtra.net {
	import cf_tls
	header {
		?Content-Type    application/octet-stream
	}
	reverse_proxy {
		to 10.2.33.12:8333
	}
}
